body {
}

h1 {
    margin-left: 20px;
    margin-bottom: 0px;
}

ul#navigation {
    list-style: none;
    margin: 0;
    padding: 0px;
    display: block;
    margin-left: 70px;
    padding-left: 20px;
    padding-right: 20px;
    height: 20px;
    display: block;
    float: left;
    clear: both;
    margin-bottom: 4px;
    border-bottom: 2px solid green;
    border-radius: 10px;
    padding-bottom: 2px;
}

ul#navigation li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    vertical-align: middle;
}

ul#navigation li a,
ul#navigation li a:link,
ul#navigation li a:visited,
ul#navigation li a:active {
    text-decoration: none;
    color: blue;
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
}

ul#navigation li a:hover {
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    border-radius: 5px;
    background: #EAFBFF;
}

ul#navigation li.active a,
ul#navigation li.active a:link,
ul#navigation li.active a:active,
ul#navigation li.active a:visited,
ul#navigation li.active a:hover {
    font-weight: bold;
    border: none;
    color: blue;
    background: inherit;
}

ul.lineage {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0px;
}

ul.lineage li {
    float: left;
    padding-left: 3px;
    padding-right: 3px;
}

div#content {
    margin-top: 20px;
    min-height: 350px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 10px;
    padding: 14px;
    clear: both;
    overflow: hidden;
}

div#copyright {
    text-align: right;
    font-size: small;
    display: block;
}

div#small_title {
    font-size: smaller;
    margin-left: 75px;
    margin-bottom: 20px;
    margin-top: -8px;
}

div#subnav {
    padding: 0px;
    margin: 0;
    width: 120px;
    overflow: hidden;
    float: left;
    display: block;
    margin-right: -120px;
}

ul.listnav {
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: #33AAAA;
    border-radius: 10px;

    display: block;

    padding: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: -120px;
    width: 114px;
    
    list-style: none;

    text-align: center;

    clear: left;
    overflow: hidden;
}

ul.listnav li {
    padding-top: 2px;
    padding-bottom: 2px;
    display: block;
}

ul.listnav li a,
ul.listnav li a:link,
ul.listnav li a:visited,
ul.listnav li a:active {
    display: block;
    color: blue;
    text-decoration: none;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
    padding-top: 1px;
    width: auto;
}

ul.listnav li.active a {
    font-weight: bold;
    padding-bottom: 1px;
    padding-top: 1px;
    border-radius: 4px;
    border-left: 1px solid green;
    border-right: 1px solid green;
}

ul.listnav li a:hover {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    border-radius: 4px;
    padding-bottom: 0px;
    padding-top: 0px;
    background: #EEFFFF;
}

div#view {
    display: block;
    float: left;

    border-radius: 10px;
    border: 1px dotted;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: #33AAFF;

    clear: right;

    min-width: 700px;
    max-width: 1024px;
    min-height: 350px;
    padding: 14px;

    margin-left: 130px;
}

table.symbol_list {
    border-spacing: 0px;
    width: 100%;
}

table.symbol_list th {
    text-align: left;
    padding-left: 12px;
}

table.symbol_list tr.symbol td {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 8px;
    padding-bottom: 5px;
}

table.symbol_list tr.symbol td.left {
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom: 1px solid;
    border-color: #33AAAA;

    font-weight: bold;
    border-right: 1px dotted #E0E0E0;
}

table.symbol_list tr.symbol td.right {
    border-top-right-radius:10px;
    border-bottom: 1px solid;
    border-color: #33AAAA;
    width: 90%;
}

table.symbol_list tr.symbol.open td {
    border-top: 2px solid green;
    border-bottom: 1px dotted #66EEEE;
    padding-top: 6px;
    padding-bottom: 3px;
}

table.symbol_list tr.symbol_details td {
    border-radius: 10px;
    border-bottom: 2px solid green;
    padding: 6px;
}

h2 {
    margin: 0;
    margin-bottom: 8px;
}

h3 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 6px;
    border-top: 1px dotted #DDDDDD;
}

ul.role_list {
    list-style: none;
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    overflow: hidden;
}

ul.role_list li {
    float: left;
    display: block;
    margin-left: 6px;
    margin-right: 6px;
}

ul.role_list li a,
ul.role_list li a:hover,
ul.role_list li a:visited,
ul.role_list li a:link,
ul.role_list li a:active {
    color: blue;
    text-decoration: none;
}

ul.role_list li a:hover {
    text-decoration: underline;
}

tr.symbol:hover {
    background: #EEEEEE;
}

tr.symbol.open {
    background: #FAFAFF;
}

.example,
ul.usage {
    list-style: none;
    margin: 4px;
    padding: 4px;
    border: 1px dotted #D0D0D0;
    background: #FAFAFA;
    overflow: hidden;
}

#error_window {
    display: block;
    position: absolute;
    width: 500px;
    height: 300px;
    border: 2px solid red;
    border-radius: 10px;
    left: 100px;
    top: 100px;
    background: white;
    padding: 10px;
}
